html, body {
  padding: 0;
  margin: 0;
}

body:not([pick]) > #pick-header,
body[installed] > #install {
  display: none;
}

#install {
  width: calc(100% - 10px);
  margin: 5px 5px 0 5px;
}

ul {
  list-style: none;
  padding: 5px;
  margin: 0;
  background-color: #fff;
}

li {
  width: 100%;
  height: 100px;
  margin-bottom: 5px;
  border: 1px solid #ddd;
}
